name: Build Nullix ISO

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TARGET: i686-elf
      PREFIX: /opt/cross
      PATH: /opt/cross/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          bison \
          flex \
          libgmp3-dev \
          libmpc-dev \
          libmpfr-dev \
          texinfo \
          grub-pc-bin \
          xorriso \
          nasm \
          curl

    - name: Build i686-elf binutils
      run: |
        mkdir -p /tmp/cross
        cd /tmp/cross

        curl -LO https://ftp.gnu.org/gnu/binutils/binutils-2.41.tar.xz
        tar xf binutils-2.41.tar.xz

        mkdir build-binutils
        cd build-binutils

        ../binutils-2.41/configure \
          --target=${TARGET} \
          --prefix=${PREFIX} \
          --with-sysroot \
          --disable-nls \
          --disable-werror

        make -j$(nproc)
        sudo make install

    - name: Build i686-elf gcc (C only)
      run: |
        cd /tmp/cross

        curl -LO https://ftp.gnu.org/gnu/gcc/gcc-13.2.0/gcc-13.2.0.tar.xz
        tar xf gcc-13.2.0.tar.xz

        cd gcc-13.2.0
        ./contrib/download_prerequisites

        mkdir build-gcc
        cd build-gcc

        ../configure \
          --target=${TARGET} \
          --prefix=${PREFIX} \
          --disable-nls \
          --enable-languages=c \
          --without-headers

        make all-gcc -j$(nproc)
        make all-target-libgcc -j$(nproc)
        sudo make install-gcc
        sudo make install-target-libgcc

    - name: Build Nullix kernel
      run: |
        make

    - name: Create GRUB ISO
      run: |
        mkdir -p iso/boot/grub

        cp nullix.elf iso/boot/kernel.elf
        cp grub.cfg iso/boot/grub/grub.cfg

        grub-mkrescue -o nullix.iso iso

    - name: Upload ISO artifact
      uses: actions/upload-artifact@v4
      with:
        name: nullix-iso
        path: nullix.iso
